#label{
    padding-right:-2px; 
    font-size: 20px;
  
}
#span{
    
    margin-bottom: 20px;
}
#maincontent{
    margin-top: 70%;
}

/* profile update html styles */

#container{
    margin-top: 2%; 
}

#top{
    padding:2%;
}
#alert{
    
    position: relative;
    margin-top: -1000px;
}
@media only screen and  (max-width: 600px) {
    #container{
        margin-top: 20%;
    
}
#alert{
    
    position: relative;
    margin-top: -1000px;
}
#top{
    padding:2%;
    
}
    
}
